<section class="heads">
<div><h2 class="headlines">Edit My Festival</h2></div>
</section>

<div class="d-flex justify-content-center">

<div class="content-body">

{{#if myFestival}}

<form 
action="/profile/myfestival/edit" 
method="POST" 
enctype="multipart/form-data"
id="formEditFestival"

>

    <h2>Festival Information</h2>
    <label>Festival Title 
        <input class="form-control"
          placeholder="Festival Title"
          aria-label="default input example" 
          type="text" 
          name="title" 
          value="{{myFestival.title}}"
          required
          /></label>

    <div class="form-outline w-100 mb-4">
    <label for="textAreaExample6" class="form-label">Brief Description</label> 
        
        <textarea 
          type="text" 
          name="description" 
          placeholder="Description in English"
          class="form-control"
          id="textAreaExample6"
          rows="3"
          required
         />{{myFestival.description}}
        </textarea>
    </div>

    <h2>Specifications</h2>
    <label>Country
            <select id="country" name="country" class="form-select"
          aria-label="Default select example" required>
              <option value="" selected disabled hidden>Choose here</option>
              <option value="{{myFestival.country}}" selected>{{myFestival.country}}</option>
              {{#each countryList}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
    </label>
<label>Location <input class="form-control"
          aria-label="default input example"
          type="text"
          name="location" value="{{myFestival.location}}" required/></label>
    <label>Format
        <select name="format" class="form-control" value="{{myFestival.format}}" required >
            <option value="" selected disabled hidden>Choose here</option>
            <option value="{{myFestival.format}}" selected>{{myFestival.format}}</option>
            {{#each formatList}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}            
        </select>
    </label>
    <label>Event Start Date <input class="form-control" aria-label="default input example" type="date" 
        name="eventStartDate" value="{{formatDate "YYYY-MM-DD" myFestival.eventStartDate}}" required/></label>
    <label>Event End Date <input class="form-control" aria-label="default input example" type="date" 
        name="eventEndDate" value="{{formatDate "YYYY-MM-DD" myFestival.eventEndDate}}" required/></label>
    <label>Submission Deadline <input class="form-control" aria-label="default input example" type="date" 
        name="submissionDeadline" value="{{formatDate "YYYY-MM-DD" myFestival.submissionDeadline}}" required/></label>
    <label>Entry fee 
      <input class="form-control" aria-label="default input example" type="number" min="0" 
      name="entryFee" value="{{myFestival.entryFee}}" required/></label>
    <section name="acceptedCategories">
        <label>Projects to Submit
          {{#each myFestival.acceptedCategories}}

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkbox{{this}}"
                name="acceptedCategories"
                value="{{this}}"
                checked
              />
              <label class="form-check-label" for="checkbox{{this}}">
                {{this}}
              </label>
            </div>   
          {{/each}}

          {{#each projectTypeList}}
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkbox{{this}}"
                name="acceptedCategories"
                value="{{this}}"
              />
              <label class="form-check-label" for="checkbox{{this}}">
                {{this}}
              </label>
            </div>
          {{/each}}

        </label>
      </section>



    <section multiple name="acceptedLength" value="{{myFestival.acceptedLength}}">
        <label>Accepted Project Length

          {{#each myFestival.acceptedLength}}

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkbox{{this}}"
                name="acceptedLength"
                value="{{this}}"
                checked
              />
              <label class="form-check-label" for="checkbox{{this}}">
                {{this}}
              </label>
            </div>   
          {{/each}}

          {{#each lengthCategoryList}}
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkbox{{this}}"
                name="acceptedLength"
                value="{{this}}"
              />
              <label class="form-check-label" for="checkbox{{this}}">
                {{this}}
              </label>
            </div>
          {{/each}}
        </label>
      </section>
    <h2>Contacts</h2>
    <label>Contact Person 
        <input class="form-control"
          aria-label="default input example"
          type="text"
          name="contactPerson" 
          value="{{myFestival.contactPerson}}" 
          required
        /></label>
    <label>Contact Email 
        <input class="form-control"
          aria-label="default input example"
          type="email"
          name="contactEmail" 
          value="{{myFestival.contactEmail}}" 
          required
        /></label>
    <label>Website<input class="form-control"
          aria-label="default input example"
          type="url"
          name="website" 
          value="{{myFestival.website}}" 
          required
        /></label>

    <h2>Festival Files</h2>
    {{! FILES }}
    <label for="poster" class="form-label">Poster
    <input
        class="form-control"
        type="file"
        id="poster"
        name="poster"
    /></label>
    <input type="text" name="existingPoster" hidden value="{{myFestival.poster}}">

    <label for="photos" class="form-label">Logo
    <input
        class="form-control"
        type="file"
        id="photos"
        name="photos"
        multiple
    /></label>
    <input type="text" name="existingPhotos" hidden value="{{myFestival.photos}}">
    {{! FILES }}
    <br/> 
    <button class="form-control btn btn-primary" type="submit">Save Changes In My Festival</button>
</form>
{{/if}}
</div>
