<section class="heads" id="search">
  <div><h2 class="headlines">Search For Festivals</h2></div>

  {{! <div>
    <form action="/festivals" method="POST">
      <input type="text" name="search" placeholder="Search festivals" />
      <button type="submit">Search</button>
    </form>
  </div> --}}
  
  
  <form action="/festivals" method="POST">
    <div class="input-group">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
  </form>

</section>

{{!-- <div class="container">
  <div class="row">

    {{#each festivalsInDB}}

      <div class="festival-car col col-3">
        <div class="card">
          <img src="{{poster}}" class="card-img-top" alt="{{title}}" />
          <div class="card-body p-0">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{country}}</p>
            <p class="card-text">Submission Deadline:
              {{formatDate "DD-MMM-YYYY" submissionDeadline}}
            </p>
            <div class="text-center">
              <a href="/festivals/{{_id}}" class="btn btn-primary">View details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div> --}}

{{!-- <div class="container text-center">
  <div class="row align-items-end">
    {{#each festivalsInDB}}

      <div class="col col-md-3 fest">
        <img class="fest-img" src="{{poster}}" alt="{{title}}" />
        <div class="text-center">
          <h5>{{title}}</h5>
          <p>{{country}}</p>
          <p>Submission Deadline:
            {{formatDate "DD-MMM-YYYY" submissionDeadline}}
          </p>
          <a href="/festivals/{{_id}}" class="btn btn-outline-dark">View details</a>
        </div>
      </div>

    {{/each}}
  </div>
</div> --}}

  <div class="film-container text-center">

    {{#each festivalsInDB}}
      <div class="text-centers caps2 img-hover-zoom">

        <a href="/festivals/{{_id}}"><img class="fest-image" src="{{poster}}" alt="{{title}}" /></a>
          <h6 class="text-centers title-film">{{title}}</h6s> <br/><br/>
          <p><small>Submission Deadline:
            {{formatDate "DD-MMM-YYYY" submissionDeadline}}
          </small></p>
          <a href="/festivals/{{_id}}" class="btn btn-outline-dark">View details</a>
        
      </div>
    {{/each}}
  </div>