<section class="heads" id="search">
  <div><h2 class="headlines">Search Festivals</h2></div>
  <div>
    <form action="/festivals" method="POST">
      <input type="text" name="search" placeholder="Search festivals" />
      <button type="submit">Search</button>
    </form>
  </div>
</section>

<div class="container">
  <div class="row">
    {{#each festivalsInDB}}

      <div class="festival-car col col-3">
        <div class="card border-0">
          <img src="{{image}}" class="card-img-top" alt="{{title}}" />
          <div class="card-body p-0">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{country}}</p>
            <p class="card-text">Submission Deadline:
              {{formatDate "MM YYYY" submissionDeadline}}
            </p>
            <div class="text-center">
              <a href="/festivals/{{_id}}" class="btn btn-primary">View details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>