<section class="heads">
<div><h2 class="headlines">Edit My project</h2></div>
</section>


<div class="d-flex justify-content-center">

<div class="content-body">

<form action="/profile/projects/{{filmDetails.title}}/edit" method="POST" enctype="multipart/form-data">

    <h2>Project Information</h2>
    <label>Project Title 
        <input 
          class="form-control"
          type="text"
          placeholder="Title in English"
          aria-label="default input example"
          type="text"
          name="title" value="{{filmDetails.title}}"/>
    </label>

    <div class="form-outline w-100 mb-4">

    <label for="textAreaExample6" class="form-label">Brief Synopsis </label>
    <textarea 
          placeholder="Synopsis in English"
          class="form-control"
          id="textAreaExample6"
          rows="3"
          name="synopsis"/>{{filmDetails.synopsis}}
    </textarea>

    </div>

    <h2>Specifications</h2>
    <label>Country of Origin 
            <select id="country" name="country" class="form-select" aria-label="Default select example">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="{{filmDetails.country}}" selected>{{filmDetails.country}}</option>
                {{#each countryList}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
                
            </select>
    </label>
    <label>Original Language 
        <select data-placeholder="Choose a Language..." name="language" class="form-select"
          aria-label="Default select example" value="{{filmDetails.language}}">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="{{filmDetails.language}}" selected>{{filmDetails.language}}</option>
            {{#each languageList}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    <label>Completion Date <input class="form-control"
          aria-label="default input example" type="date" name="completionDate" 
          value="{{formatDate "YYYY-MM-DD" filmDetails.completionDate}}"/></label>
    <label>Genres 
        <select name="genre" class="form-select"
          aria-label="Default select example" size="3" multiple value="{{filmDetails.genre}}">
            <option value="" selected disabled hidden>Choose here</option>
            {{#each filmDetails.genre}}
              <option value="{{this}}" selected>{{this}}</option>
            {{/each}}
            {{#each genreList}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>    
    </label>

    <section>
        <label><strong>Project Type</strong>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="radio{{filmDetails.projectType}}"
                name="projectType"
                value="{{filmDetails.projectType}}"
                checked
              />
              <label class="form-check-label" for="radio{{filmDetails.projectType}}">
                {{filmDetails.projectType}}
              </label>
            </div>        
          {{#each projectTypeList}}
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="radio{{this}}"
                name="projectType"
                value="{{this}}"
              />
              <label class="form-check-label" for="radio{{this}}">
                {{this}}
              </label>
            </div>
          {{/each}}
        </label>
    </section>
 
               
    <section name="projectlength" value="{{filmDetails.projectlength}}">
        <label><strong>Project Length Category</strong>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              id="radio{{filmDetails.projectlength}}"
              name="projectlength"
              value="{{filmDetails.projectlength}}"
              checked
            />
            <label class="form-check-label" for="radio{{filmDetails.projectlength}}">
              {{filmDetails.projectlength}}
            </label>
          </div>
          {{#each lengthCategoryList}}
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="radio{{this}}"
                name="projectlength"
                value="{{this}}"
              />
              <label class="form-check-label" for="radio{{this}}">
                {{this}}
              </label>
            </div>
          {{/each}}


        </label>
      </section>


    </label>
    <label>Runtime <input class="form-control"
          type="number"
          name="runtime"
          min="1"
          max="300" value="{{filmDetails.runtime}}"/>minutes</label>
    <h2>Credits</h2>
    <label>Director <input class="form-control" type="text" name="director" value="{{filmDetails.director}}"/></label>
    <label>Writer <input class="form-control" type="text" name="writer" value="{{filmDetails.writer}}"/></label>
    <label>Cast <input class="form-control" type="text" name="cast" value="{{filmDetails.cast}}"/></label>
    <label>Producer <input class="form-control" type="text" name="producer" value="{{filmDetails.producer}}"/></label>

    <h2>Project Files</h2>
    {{! FILES }}
    <label for="poster" class="form-label">Poster
    <input
        class="form-control"
        type="file"
        id="poster"
        name="poster"
    /></label>
    <input type="text" name="existingPoster" hidden value="{{filmDetails.poster}}">

    <label for="photos" class="form-label">Still Photos
    <input
        class="form-control"
        type="file"
        id="photos"
        name="photos"
        multiple
    /></label>
    <input type="text" name="existingPhotos" hidden value="{{filmDetails.photos}}">
    {{! FILES }}
    <label>Trailer <input class="form-control" type="text" name="trailer"/></label>
    <label>Preview <input class="form-control" type="text" name="preview"/></label>

    <br/> 
    <button class="form-control btn btn-primary" type="submit">Save Changes</button>
</form>
</div>
</div>