<section class="heads">
    <div><h2 class="headlines">Projects</h2></div>
    <div class="button">
        <a class="btn" href="/profile/create">Add a Project</a>
    </div>
</section>
<div class="content-body">
    
    {{#each projectsInDB}}
        <div>
            <img src="{{image}}" />
            <h2>{{title}}</h2>
            <p>Director: {{director}}</p>
            <p>Runtime: {{runtime}} minutes</p>

            <a href="/profile/projects/{{this.title}}">View</a>
            <a href="/profile/projects/{{this.title}}/edit">Edit</a>
            
            <form action="/profile/projects/{{this.title}}/remove" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    {{/each}}

</div>