<section class="heads" id="search">
  <div><h2 class="headlines">Search For Films</h2></div>
  
  
  <form action="/films" method="POST">
    <div class="input-group">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        name="search"
      />
      <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
  </form>

</section>



{{!-- <div class="container">

  <div class="row align-items-end">

    {{#each filmsFromDB}}

      <div class="col col-md-3">
        
        <div class="film-img"><img class="film-img" src="{{poster}}" alt="{{title}}" /></div>
        
        <div class="text-center">
          <h6>{{title}}</h6>
          <a href="/films/{{this.title}}" class="btn btn-outline-dark">View details</a>
        </div>
      </div>

    {{/each}}

  </div>

</div> --}}


  <div class="film-container text-center">

    {{#each filmsFromDB}}
        <div class="text-centers caps img-hover-zoom">

        <a href="/films/{{this.title}}"><img class="film-img" src="{{poster}}" alt="{{title}}" /></a>
        
          <h6 class="text-centers title-film">{{title}}</h6>
          <a href="/films/{{this.title}}" class="btn btn-outline-dark">View details</a>
        
      

      </div>
    {{/each}}

  </div>